<!DOCTYPE html>
<html>
<head>
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" >// <![CDATA[ 
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>
	<title>ChatBot - Ritik</title>
	<style>
        body{
            background-color: black;
        }
    </style>




</head>
<body>
 <div>

	<form method="POST" action="/" enctype="multipart/form-data">	
	 <button type="submit" class="btn btn-primary button_add" style="margin-left: 46%; margin-top: 30%;display: block; border-radius: 12px;width:100px;"><i class="fa fa-microphone"></i></button>
   <h1 class="heading center1" style="text-align:center; color: wheat;;">Tap to Speak</h1>
   	</form>
	<form method="GET" action="/" enctype="multipart/form-data">
	</form>
 </div>
</div>

</body>
</html>
